[submodule "cmp-buffer"]
	path = share/nvim/site/pack/vendor/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer

[submodule "cmp-nvim-lsp"]
	path = share/nvim/site/pack/vendor/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp

[submodule "cmp-nvim-lua"]
	path = share/nvim/site/pack/vendor/start/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua

[submodule "cmp-path"]
	path = share/nvim/site/pack/vendor/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path

[submodule "cmp-luasnip"]
	path = share/nvim/site/pack/vendor/start/cmp_luasnip
	url = https://github.com/hrsh7th/cmp-luasnip

[submodule "friendly-snippets"]
	path = share/nvim/site/pack/vendor/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets

[submodule "harpoon"]
	path = share/nvim/site/pack/vendor/start/harpoon
	url = https://github.com/ThePrimeagen/harpoon

[submodule "lsp-zero.nvim"]
	path = share/nvim/site/pack/vendor/start/lsp-zero.nvim
	url = https://github.com/VonHeikemen/lsp-zero.nvim

[submodule "lualine.nvim"]
	path = share/nvim/site/pack/vendor/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim

[submodule "LuaSnip"]
	path = share/nvim/site/pack/vendor/start/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip

[submodule "mason-lspconfig"]
	path = share/nvim/site/pack/vendor/start/mason-lspconfig
	url = https://github.com/williamboman/mason-lspconfig.nvim

[submodule "mason.nvim"]
	path = share/nvim/site/pack/vendor/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim

[submodule "nvim-cmp"]
	path = share/nvim/site/pack/vendor/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp

[submodule "nvim-lspconfig"]
	path = share/nvim/site/pack/vendor/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig

[submodule "nvim-tree.lua"]
	path = share/nvim/site/pack/vendor/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua

[submodule "nvim-treesitter"]
	path = share/nvim/site/pack/vendor/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter

[submodule "nvim-web-devicons"]
	path = share/nvim/site/pack/vendor/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons

[submodule "plenary.nvim"]
	path = share/nvim/site/pack/vendor/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim

[submodule "telescope.nvim"]
	path = share/nvim/site/pack/vendor/start/telescpe.nvim
	url = https://github.com/nvim-telescope/telescope.nvim

[submodule "undotree"]
	path = share/nvim/site/pack/vendor/start/undotree
	url = https://github.com/mbbill/undotree

[submodule "vim-fugitive"]
	path = share/nvim/site/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive

[submodule "vim-signify"]
	path = share/nvim/site/pack/vendor/start/vim-signify
	url = https://github.com/mhinz/vim-signify

[submodule "vim-tmux-navigator"]
	path = share/nvim/site/pack/vendor/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator

[submodule "vimwiki"]
	path = share/nvim/site/pack/vendor/start/vimwiki
	url = https://github.com/vimwiki/vimwiki

[submodule "vscode.nvim"]
	path = share/nvim/site/pack/themes/start/vscode.nvim
	url = https://github.com/Mofiqul/vscode.nvim
